/* css styles */

a {
  text-decoration: none;
}


table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
  border: none;
}
td {
  border: none;
  width: 75%;
}
td+td{
  width: auto;
  border: none;
}